<h1>register</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  
      <div class="mb-3">
        <label  class="form-label">Username</label>
        <input type="text" required class="form-control" name="username" #username="ngModel" [(ngModel)]="data.username" >
        <label class="text-danger" *ngIf="form.submitted && username.errors ?.['required']">Username is requred</label>
      </div>
  
      <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" required class="form-control" name="password"  #password="ngModel" [(ngModel)]="data.password" >
        <label class="text-danger" *ngIf="form.submitted && password.errors ?.['required']">password is requred</label>
      </div>
  
 <div> 
     <input type="submit" class="form-control">
</div>
     
   

</form>
